* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 35px;
    text-align: center;
    /*margin:0;*/
    padding: 0;
}

ul, ol {
    padding: 0;
    list-style: none;
}

h3, p {
    padding: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#header, #nav, #footer, #main, #sidebar {

    line-height: 25px;
    background: #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #999;
    border-radius: 5px;
}

#main, #sidebar {
    height: 300px;
    float: left;
    margin-bottom: 35px;
    overflow: auto;
}

#main {
    width: 620px;
    background: #ddefcb;
    margin-right: 20px;
}

#sidebar {
    width: 320px;
    background: #ffcbdd;
}

#footer {
    clear: both;
}

#footer h5 {
    padding-top: 20px;
}

#footer {
    background: none;
    border-top: 1px solid #eee;
}

#header {
    background: none;
    border-bottom: 1px solid #eee;
}

#header h1 {
    font-size: 2.5em;
    margin-top: 50px;
    color: #3c3c3c;
}

#header h2 {
    font-size: 1em;
    color: #ccc;
}

/* 导航菜单 */
ul {
    list-style: none;
    padding: 0;
}

#nav li, #nav li a {
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
    color: #3b3b3b;
}

#nav li a:hover {
    background: #eee;
}

#nav {
    background: none;
}

#nav .active {
    background: #eee;
}

.toggle-btn {
    display: none;
}

/*Media Queries*/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    #main {
        width: 770px;
        margin-right: 30px;
    }

    #sidebar {
        width: 370px;
    }
}

@media (max-width: 959px) {
    .container {
        width: 100%;
    }

    #main {
        width: 67%;
        margin-right: 3%;
    }

    #sidebar {
        width: 30%;
        float: right;
    }
}

@media (max-width: 767px) {
    #main, #sidebar {
        width: 100%;
        float: none;
    }

    #header {
        font-size: 12px;
        text-align: left;
        padding-left: 20px;
    }

    /* 切换按钮 */
    .toggle-btn {
        display: inline-block;
        font-size: 25px;
        background-color: #000;
        color: #fff;
        padding: 7px 10px;
        border-radius: 5px;
        text-decoration: none;
        position: absolute;
        right: 20px;
        top: 50px;
    }

    /* 隐藏关闭按钮 */
    #nav .close {
        display: none;
    }

    #nav:target .close {
        display: inline-block;
    }

    /* 初始隐藏导航 */
    #nav {
        display: none;
    }

    #nav:target {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        padding-top: 110px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    #nav:target ul {
        width: 100%;
        background-color: #999;
    }

    #nav:target ul li, #nav:target ul li a {
        width: 100%;
        text-align: left;
        padding: 7px 0;
    }

    #nav:target .active {
        background: #3b3b3b;
        color: #fff;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    /* 目标状态下的导航的列表下的 a 标签的悬停样式 */
    #nav:target li a:hover {
        background: #3b3b3b;
        color: #fff;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

}









