* {
    margin: 0;
    padding: 0;
}

body {
    /*font-size: 14px;*/
    margin-top: 20px;
    text-align: center;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#header, #nav, #main, #sidebar, #footer {
    height: 100px;
    line-height: 100px;
    background: #eee;
    margin-bottom: 20px;
    border-radius: 5px;
}

#main, #sidebar {
    line-height: 60px;
    float: left;
    height: 300px;
    overflow: hidden;
}

#main p, #sidebar p {
    line-height: 35px;
    height: 200px;
    padding: 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

#main {
    width: 620px;
    margin-right: 20px;
    background: #ddefcb;
}

#sidebar {
    width: 320px;
    background: #ffcbdd;
}

#footer {
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    #main {
        width: 770px;
        margin-right: 30px;
    }

    #sidebar {
        width: 370px;
    }
}

@media (max-width: 959px) {
    .container {
        width: 96%;
    }

    #main {
        width: 67%;
        margin-right: 3%;
    }

    #sidebar {
        width: 30%;
    }
}

@media (max-width: 767px) {
    .container {
        width: 96%;
    }

    #main, #sidebar {
        float: none;
        width: 100%;
        margin-right: 0;
    }
}
