<!DOCTYPE html>
<html>
  <head>
    <title>12345</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% data.forEach(function(result,index){%>
          <li>id: <%= result.USER_ID%></li>
          <li>name: <%= result.ACCOUNT%></li>
    <% })%>
  </body>
</html>
