@charset "UTF-8";

/*通用*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    overflow: hidden;
    _zoom: 1;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

.tpi {
    background: url(../img/icons-trip.png) no-repeat;
}

a, a:hover, a > *:hover {
    text-decoration: none;
}

body {
    font-family: AvenirRoman, HelveticaNeue-Light, Helvetica Neue, arial, Hiragino Sans GB, 冬青黑体, Microsoft YaHei New, Microsoft Yahei, 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
    font-weight: 400;
    background: #f2f2f2;
    min-width: 1180px;
}

/*header*/
#header {
    padding-top: 4px;
    background: url(../img/header-line.png) top left repeat-x #fff;
}

#header .wrapper {
    height: 64px;
    line-height: 64px;
    background-color: #fff;
}

#header .logo {
    height: 64px;
    line-height: 64px;
    width: 160px;
}

#header .logo img {
    margin-top: 7px;
}

#header .nav {
    margin-left: 30px;
}

#header .nav li {
    float: left;
    display: inline-block;
    position: relative;
    z-index: 110;
    padding: 0 14px;
}

#header .nav li a {
    display: inline-block;
    height: 60px;
    padding: 0 5px;
    border-bottom: 4px solid transparent;
    _border-color: white;
    _filter: chroma(color=white);
    font: 16px/60px "microsoft yahei";
    color: #000;
    text-align: center;
    text-decoration: none;
}

#header .nav li a:hover, #header .nav li.active a {
    color: #02a3cf;
}

#header .nav-right {
    height: 64px;
    line-height: 64px;
}

#header .nav-right div {
    margin-top: 19px;
    cursor: pointer;
}

#header .nav-right a {
    color: #333;
    text-decoration: none;
}

#header .nav-right a:hover {
    color: #02a3cf;
}

#header .nav-right .order {
    padding-left: 30px;
    font: 14px/26px "microsoft yahei";
    background: url("../img/header_v3_icon.png") 0 0;
}

#header .nav-right .chat {
    margin-left: 18px;
    display: inline-block;
    position: relative;
    padding-left: 26px;
    margin-right: 5px;
    height: 26px;
    cursor: pointer;
    background: url(../img/icon-top-chat.png) left center no-repeat;
}

#header .nav-right .tel {
    margin-left: 18px;
    display: inline-block;
    background: url("../img/tel.svg") no-repeat;
    -webkit-background-size: 26px 26px;
    background-size: 26px 26px;
    padding-left: 30px;
    height: 26px;
    font: 16px/28px Arial, Helvetica, sans-serif;
}

#header .nav-right .star {
    display: inline-block;
    background: url(../img/header_v3_icon.png) -32px -80px no-repeat;
    padding-left: 30px;
    height: 26px;
    font: 14px/26px "microsoft yahei";
    margin-left: 18px;
}

/*banner*/
#banner {
    background: url(http://onbtyf8pv.bkt.clouddn.com/trip-banner.png) center center no-repeat;
    height: 250px;
    -webkit-background-size: cover;
    background-size: cover;
}

#banner .crumbs-bar {
    color: #8f8a96;
    font-size: 12px;
    padding: 15px;
    margin: 0 0 15px
}

#banner .crumbs-bar a {
    color: #8f8a96;
    text-decoration: none;
    -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
    -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
    -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
    -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
}

#banner .crumbs-bar a:hover {
    color: #444;
}

#banner .trip-title {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

#banner .trip-title h1 {
    color: #FFF;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 5px;
}

#banner .trip-title p {
    color: #ccc;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    width: 800px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#banner .trip-title .tpi {
    display: inline-block;
    width: 11px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: 1px;
    background: url(../img/icons-trip.png) -41px -11px;
}

/*navBox*/
#navBox {
    background: #FFF;
    border-bottom: 4px solid #eaeaea;
}

#navBox .wrapper {
    height: 70px;
    position: relative;
}

#navBox .trip-nav li {
    display: block;
    float: left;
    width: 105px;
    height: 100%;
    line-height: 70px;
    text-align: center;
    position: relative;
    margin-right: 1px;
}

#navBox .trip-nav li a {
    display: inline-block;
    height: 70px;
    font-size: 16px;
    color: #999;
    text-decoration: none;
}

#navBox .trip-nav li a:hover, #navBox .trip-nav li.active a {
    color: #02a3cf;
}

#navBox .trip-action {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    margin-right: 5px;
}

#navBox .trip-action .btn-consultant {
    display: block;
    /*width: 200px;*/
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    background: #ffa841;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#navBox .trip-action .btn-consultant:hover {
    background: #fe9820;
}

/*轮番图*/
#slider {
    background: #FFF;
    padding: 24px 30px;
    margin-bottom: 20px;
    height: 400px;
}

#slider .slider-box {
    width: 600px;
    height: 400px;
    position: relative;
}

#slider .slider-box .big-img li {
    position: absolute;
    top: 0;
    left: 0;
}

#slider .slider-box .big-img img {
    width: 600px;
    height: 400px;
}

#slider .slider-box .big-img a {
    display: block;
    width: 100%;
    height: 100%;
}

#slider .slider {
    position: absolute;
    width: 600px;
    height: 100px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#slider .slider .btn a {
    display: inline-block;
    width: 35px;
    height: 38px;
    position: absolute;
    top: 30px;
    cursor: pointer;
}

#prev {
    left: 0;
    background: url(../img/sprite.png) 0 0 no-repeat;
}

#next {
    right: 0;
    background: url(../img/sprite.png) right top no-repeat;
}

#slider .slider-img {
    width: 520px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#slider .small-img {
    width: 1056px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

#slider .small-img li {
    float: left;
    display: block;
    width: 120px;
    height: 80px;
    margin-top: 10px;
    border: 1px solid #000;
    margin-right: 10px;
}

#slider .small-img li.selected {
    border: 1px solid #02a3cf;
}

#slider .small-img img {
    border: 0 none;
    vertical-align: middle;
    width: 120px;
    height: 80px;
    cursor: pointer;
}

#slider .trip-msgInfo {
    width: 480px;
}

#slider .msg-common {
    padding-top: 20px;
    /*margin-bottom: 25px;*/
    overflow: hidden;
}

#slider .msg-common .msgItem {
    line-height: 24px;
    margin-bottom: 20px;
}

#slider .msg-common .msgItem dt {
    float: left;
    width: 80px;
    text-align: left;
    color: #333;
    font-size: 14px;
}

#slider .msg-common .msgItem dd {
    float: left;
    color: #828282;
    font-size: 16px;
    padding-left: 10px;
}

#slider .msg-states {
    background-color: #f7f7f7;
    width: 480px;
    height: 90px;
    margin-bottom: 25px;
}

#slider .msg-states .states {
    float: left;
    padding: 8px 20px 0;
    line-height: 24px;
}

#slider .msg-states .states .txt {
    font-size: 16px;
    color: #828282;
}

#slider .trip-consult {
    border-top: 1px solid #dedede;
    padding-top: 20px;
}

#slider .trip-consult .gw-img {
    float: left;
    width: 70px;
    height: 70px;
    padding: 4px;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

#slider .trip-consult .gw-img img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

#slider .trip-consult .gw-inf {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    color: #828282;
}

#slider .trip-consult .gw-name {
    margin-bottom: 10px;
}

#slider .trip-consult .btn-consult {
    display: inline-block;
    /*width: 140px;*/
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    background: #02a3cf;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#slider .trip-consult .btn-consult:hover {
    background: #0b499d;
}

/*行程亮点*/
.trip-lightBox {
    background: #02a3cf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 25px 0;
    margin-bottom: 20px;
}

.trip-lightBox .lightHd {
    float: left;
    width: 170px;
    text-align: center;
    color: #fff;
    padding-top: 8px;
}

.trip-lightBox .lightHd span {
    font-size: 24px;
    display: block;
}

.trip-lightBox .lightHd .ilight {
    display: inline-block;
    width: 44px;
    height: 44px;
    background: url("../img/star.png") no-repeat;
}

.trip-lightBox .lightBd {
    float: left;
    padding-top: 8px;
}

.trip-lightBox .lightlist {
    display: block;
    overflow: hidden;
}

.trip-lightBox .lightlist li {
    float: left;
    display: block;
    width: 250px;
    min-height: 80px;
    padding: 0 40px;
    color: #FFF;
    position: relative;
    margin-right: 1px;
}

.trip-lightBox .lightlist li p {
    font-size: 14px;
    line-height: 24px;
    padding-left: 60px;
}

.trip-lightBox .lightlist li .ihight {
    float: left;
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url("../img/icons-trip.png") -4px -92px;
}

.trip-lightBox .lightlist li:after {
    content: '';
    width: 1px;
    height: 80px;
    font-size: 0;
    background: #f2f2f2;
    display: block;
    position: absolute;
    right: -1px;
    top: 0;
}

.trip-lightBox .lightlist li:last-child {
    margin-right: 0;
}

/*特色景点*/
.trip-itemHd {
    padding-left: 10px;
    margin-bottom: 20px;
}

.trip-itemHd h4 {
    font-size: 24px;
    color: #4e4e4e;
    margin-right: 10px;
}

.trip-itemHd .desc {
    font-size: 16px;
    color: #888888;
    margin-left: 10px;
}

.trip-tsList {
    width: 1180px;
    overflow: hidden;
}

.trip-tsList ul {
    overflow: visible;
    width: 1210px;
}

.trip-tsList ul li {
    /*float: left;*/
    display: block;
    /*width: 276px;*/
    margin-right: 25px;
    margin-bottom: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.trip-tsList ul li a {
    display: block;
    color: #FFF;
}

.trip-tsList ul li a > * {
    color: #FFF;
}

.trip-tsList .ts-img {
    width: 276px;
    height: 184px;
    overflow: hidden;
    float: left;
}

.trip-tsList .ts-img img {
    -webkit-background-size: cover;
    background-size: cover;
}

.trip-tsList .ts-info {
    background: #02a3cf;
    /*height: 120px;*/
    padding: 4px 15px;
}

.trip-tsList .ts-spot {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trip-tsList .ts-city {
    border-top: 1px solid #02a3cf;
    height: 20px;
    text-align: center;
    /*margin-bottom: 5px;*/
}

.trip-tsList .ts-city span {
    display: inline-block;
    background: #02a3cf;
    color: #d8f2e5;
    font-size: 12px;
    padding: 0 10px;
    position: relative;
    top: -11px;
}

.trip-tsList .ts-city .ipin {
    display: inline-block;
    width: 11px;
    height: 14px;
    background-position: -41px -11px;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.trip-tsList .ts-desc {
    font-size: 12px;
    line-height: 20px;
    /*height: 220px;*/
    padding: 10px 20px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ts-more {
    text-align: center;
}

/* 内链区 */
.links-wrp {
    width: 1180px;
    min-width: 1180px;
    margin: 20px auto;
}

.links-box {
    background-color: #FFF;
    border: 1px solid #ececec;
    padding: 10px 15px;
    font-family: 'Microsoft Yahei';
}

.links-item {
    padding-left: 120px;
    display: block;
    line-height: 24px;
    overflow: hidden;
}

.links-item dt {
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    display: inline;
    width: 120px;
    margin-left: -120px;
}

.links-item dt a {
    color: #666;
}

.links-item dd {
    float: left;
    font-size: 12px;
    width: 120px;
    color: #b6b6b6;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.links-item dd a {
    color: #b6b6b6;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.links-item dd a:hover {
    color: #333;
}

.links-line {
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    margin: 5px 0;
}

.links-wrp-index {
    background-color: #FFF;
    width: 100%;
    margin: 0;
    margin-top: -40px;
}

.links-wrp-index .links-box {
    width: 1178px;
    min-width: 1178px;
    margin: 0 auto;
    border: 0 none;
    padding: 20px 0;
}

/*footer*/
.footer {
    background: #0b499d;
    padding: 5px 0;
    color: #FFF;
    font: 14px/24px "microsoft yahei";
    width: 100%;
}

.footer .footer-inner {
    border-top: 1px solid #0b499d;
    border-bottom: 1px solid #0b499d;
}

.footer .footer-box {
    width: 1180px;
    margin: 0 auto;
    /*background: url(../img/footer-bg.png) right top no-repeat;*/
    padding: 30px 0;
}

.footer .foot-col1 {
    padding: 0 10px;
}

.footer .foot-col2 {
    padding-left: 60px;
    padding-top: 5px;
}

.footer .foot-col3 {
}

.footer .footer-logo {
    display: block;
    width: 184px;
    height: 60px;
    background: url(../img/header_v3_icon.png) 0 -122px no-repeat;
}

.footer .foot-nav {
    font-size: 16px;
    width: 895px;
    line-height: 34px;
}

.footer .foot-nav a {
    color: #FFF;
    display: inline-block;
    padding: 0 5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.footer .foot-nav a:hover {
    color: #02a3cf;
}

.footer .foot-inf {
    padding-top: 15px;
    padding-left: 5px;
    line-height: 24px;
}

.footer .work-time {
    color: #b2d7c1;
}

.copyright {
    background: #FFF;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #999;
}

.copyright a {
    color: #666;
}